// $pastel: #ffdeb3;
// $verde: #73bc91;
// $marrom: #342220;
// $abobora: #fc370c;
// $laranja: #ff8716;

// $turquesa: #0dafaa;
// $fundo_guest: rgba(23, 175, 175, 0.788);
// $pastel: #f5dd7e;
// $laranja: #fc8d4d;
// $abobora: #fc694d;
// $amarelo: #faba32;

$palido: #fffcf1;
$pastel: #f5dd7e;
$amarelo: #faba32;
// $laranja: #fc8d4d;
$laranja: #ffa16b;
$abobora: #fc694d;
$turquesa: #0dafaa;
// $turquesa: #5298f3;
$fundo_guest: rgba(23, 175, 175, 0.788);
$marrom: #703c00;
$sombra: #2c2c2c;
