@import './_colors';

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Mali&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

* {
    font-family: 'Comic Neue', cursive;
    font-family: 'Mali', cursive;
}

.breadcrumbs  {
    padding-top: 10px;
}
.breadcrumbs span {
    background-color: $pastel;
    margin: 10px 10px;
    padding: 5px;
    border: 1px solid $laranja;
}

$transition_geral: .3s;
$transition_lenta: 1s;

$xsNotExpandedSidebarWidth: 50px;
$xsExpandedSidebarWidth: 150px;

$smNotExpandedSidebarWidth: 50px;
$smExpandedSidebarWidth: 150px;


$mdNotExpandedSidebarWidth: 50px;
$mdExpandedSidebarWidth: 200px;

$lgNotExpandedSidebarWidth: 50px;
$lgExpandedSidebarWidth: 200px;

// TELAS
// xs (for phones - screens less than 768px wide)
// sm (for tablets - screens equal to or greater than 768px wide)
// md (for small laptops - screens equal to or greater than 992px wide)
// lg (for laptops and desktops - screens equal to or greater than 1200px wide)

// INDICADORES
// If the cube is directly inside the container:
// #container:hover > #cube { background-color: yellow; }

// If cube is next to (after containers closing tag) the container:
// #container:hover + #cube { background-color: yellow; }

// If the cube is somewhere inside the container:
// #container:hover #cube { background-color: yellow; }

// If the cube is a sibling of the container:
// #container:hover ~ #cube { background-color: yelow; }