@import '@/assets/scss/_main';

@media screen and (max-width: 767px) {
    .conteudo {
        #sidebar:not(.expanded),
        #sidebar.expanded + .rightSide,
        #sidebar:not(.expanded) + .rightSide,
        .expanded {
            transition: $transition_geral;
        }

        // Sidebar sem a classe expanded
        #sidebar:not(.expanded) {
            width: $xsNotExpandedSidebarWidth;
        }

        // Conteúdo interno (o símbolo + indica um elemento próximo)
        #sidebar.expanded + .rightSide {
            margin-left: $xsExpandedSidebarWidth;
        }

        .expanded {
            width: $xsExpandedSidebarWidth;
        }
    }
}

@media screen and (min-width: 768px) {
    #sidebar:not(.expanded),
    #sidebar.expanded + .rightSide,
    #sidebar:not(.expanded) + .rightSide,
    .expanded {
        transition: $transition_geral;
    }

    .conteudo {
        #sidebar:not(.expanded) {
            width: $smNotExpandedSidebarWidth;
        }

        #sidebar.expanded + .rightSide {
            margin-left: $smExpandedSidebarWidth;
        }

        .expanded {
            width: $smExpandedSidebarWidth;
        }
    }
}

@media screen and (min-width: 992px) {
    #sidebar:not(.expanded),
    #sidebar.expanded + .rightSide,
    #sidebar:not(.expanded) + .rightSide,
    .expanded {
        transition: $transition_geral;
    }

    .conteudo {
        #sidebar:not(.expanded) {
            width: $mdNotExpandedSidebarWidth;
        }

        #sidebar.expanded + .rightSide {
            margin-left: $mdExpandedSidebarWidth;
        }

        .expanded {
            width: $mdExpandedSidebarWidth;
        }
    }
}

@media screen and (min-width: 1200px) {
    #sidebar:not(.expanded),
    #sidebar.expanded + .rightSide,
    #sidebar:not(.expanded) + .rightSide,
    .expanded {
        transition: $transition_geral;
    }

    .conteudo {
        #sidebar:not(.expanded) {
            width: $lgNotExpandedSidebarWidth;
        }

        #sidebar.expanded + .rightSide {
            margin-left: $lgExpandedSidebarWidth;
        }

        .expanded {
            width: $lgExpandedSidebarWidth;
        }
    }
}

#sidebar.expanded span {
    display: block;
    // animation: fadeIn $transition_lenta;
}

#sidebar.expanded .submenu_list li {
    display: flex;
}

#sidebar.expanded .menu .router-link {
    display: flex;
}

#sidebar.expanded .logo__text h1{
    // animation: fadeIn 1.5s;
}

#sidebar:not(.expanded) i, #sidebar.expanded i {
    margin: 0px 15px;
}

#sidebar:not(.expanded) span, #sidebar:not(.expanded) .submenu_list {
    display: none;
    animation: fadeOut $transition_geral;
}

#sidebar:not(.expanded) .logo__text h1{
    display: none;
    animation: fadeOut $transition_geral;
}

#sidebar {
    min-height: 100vh;
    background-color: $pastel;
    position: fixed;
    border-right: 1px solid $laranja;
}

.logo__text {
    margin-top: 10px;
    height: 24px; //mesmo tamanho da fonte do h1 abaixo

    h1 {
        font-size: 24px;
        text-align: center;
        color: $turquesa;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $sombra;
        text-shadow: 2px 2px 5px $abobora;
        font-weight: 700;
        overflow: hidden;
    }
}

#sidebar i, #sidebar span {
    color: $turquesa;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: $sombra;
    text-shadow: 2px 2px 5px $abobora;
    font-weight: 700;
}

#sidebar i {
    font-size: 20px;
}

#sidebar span {
    margin-top: 5px;
}

.router-link {
    text-decoration: none;
}

.menu {
    cursor: pointer;
    padding: 5px 0px;
}

.menu .router-link {
    border-radius: 4px;
}

.menu .router-link:hover, .submenu:hover {
    background-color: $laranja;
    transition: $transition_geral;
}

.submenu {
    cursor: pointer;
}

.menu_list {
    margin-top: 25px;
    padding: 0px;
    list-style: none;
}

.submenu_list {
    padding: 10px;
    list-style: none;
    cursor: pointer;
}

.submenu_list.hide {
    display: none;
    animation: fadeIn $transition_geral;
}
.submenu_list:not(.hide) {
    display: block;
    animation: fadeIn $transition_geral;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}